<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
	default-init-method="init" default-destroy-method="destroy">

	<bean name="person" scope="singleton" class="pl.mg.coursera.spring.beansconfiguration.Person"
		init-method="onCreate" destroy-method="onDestroy">
		<constructor-arg name="id" value="777"></constructor-arg>
		<constructor-arg name="name" value="Marry"></constructor-arg>
		<property name="taxId" value="999"></property>
		<property name="address" ref="address"></property>
	</bean>


	<bean id="address" class="pl.mg.coursera.spring.beansconfiguration.Address">
		<constructor-arg name="street" value="jerozolimskie"></constructor-arg>
		<constructor-arg value="117" name="postCode"></constructor-arg>
	</bean>
</beans>
