<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd">

	<context:annotation-config />
	<context:component-scan base-package="pl.mg.coursera.spring.spel"></context:component-scan>


	<bean id="robot" class="pl.mg.coursera.spring.spel.Robot">
		<property name="id" value="#{100+33}"></property>
		<property name="speech" value="#{randomText.getText()}"></property>
	</bean>


	<bean id="randomText" class="pl.mg.coursera.spring.spel.RandomText"></bean>
</beans>
